<!-- toDo Could you optimise this piece of code? DONE -->
<!-- <mat-toolbar>
  <span>Redstor FE Challenger</span>
</mat-toolbar> -->
<app-title [pageTitle]="pageTitle | translate"></app-title>

<!-- toDo Could you optimise this piece of code? DONE -->
<!-- <div class="breadcrumbs">
  <a routerLink="/"><span>Collections</span></a>
  <span>></span>
  <a (click)="handleGotoCollection()"><span>Collection</span></a>
  <span>></span>
  <a class="active"><span>Photo</span></a>
</div> -->

<app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>

<div class="layout-container">
  <!-- toDo Could you optimise this piece of code? -->
  <mat-progress-bar *ngIf="isLoading$ | async"></mat-progress-bar>

  <div class="gallery" fxLayout.sm="column">
    <!-- toDO Could you improve the styling to be responsive? DONE -->
    <mat-card *ngIf="photo$ | async as photo" class="preview">
      <!-- toDO Why is throwing some console errors? - Trying to read values from initial empty object-->

      <mat-card-header>
        <img mat-card-avatar [src]="photo.user.profile_image.medium" />
        <mat-card-title>{{ photo.user.first_name }} {{ photo.user.last_name }}</mat-card-title>
        <mat-card-subtitle *ngIf="photo.user.location">
          <mat-icon inline>where_to_vote</mat-icon>
          {{ photo.user.location }}
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <div>
          <div>
            <!-- toDO Is there another way to do this operation? -->
            <!-- <p>{{ photo.description?.charAt(0)?.toUpperCase() }}{{ photo.description?.slice(1) }}</p> -->
            <p>{{ photo.description | upperCaseFirst }}</p>
          </div>
          <div fxLayout="row" fxLayoutGap="12px" fxLayoutAlign="end">
            <p fxLayoutAlign="center">
              <mat-icon inline>favorite</mat-icon>
              {{ photo.likes + ' ' + ('card.likes' | translate) }} &nbsp;|&nbsp;&nbsp;
              <mat-icon inline>visibility</mat-icon>
              {{ photo.views + ' ' + ('card.views' | translate) }}
            </p>
          </div>
        </div>
      </mat-card-content>
      <div class="img-container">
        <img mat-card-image [src]="photo.urls.full" [alt]="photo.alt_description" />
      </div>
    </mat-card>
  </div>
</div>
